<launch>
  <arg name="world_name" default="simple.world"/>
  <arg name="gui" value="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find cart_launch)/worlds/$(arg world_name)"/>
    <arg name="verbose" value="true"/>
    <arg name="physics" value="ode"/>
    <arg name="gui" value="$(arg gui)"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find polaris_ranger_ev)/model/scan_cart.sdf -sdf -z 1 -model cart" output="screen"/>
  <!-- add static transforms for sensors -->
 <node name="camera_tf_pub" pkg="tf" type="static_transform_publisher" args="0.4 0 1.8 0.0 0.2 0 base_link camera_link 100"/>

 <node name="lidar_tf_pub" pkg="tf" type="static_transform_publisher" args="0.1 0 0.4 0 -0 0 base_link robot/lidar_link 100"/>

 <node name="chassis_tf_pub" pkg="tf" type="static_transform_publisher" args="0 0 0 0 -0 0 chassis base_link 100"/>

</launch>
