<launch>
	<env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find simple_controller)/config/rosconsole.config"/>
    <!-- start cart in gazebo world -->
    <include file="$(find cart_launch)/launch/cart.launch">
    	<arg name="world_name" value="$(find cart_launch)/worlds/slam.world"/>
    </include>
    <!--  start tf from odo ground truth mesages for cart -->
    <node name="odo2tf" pkg="odo2tf" type="odo2tf" output="screen">
    	<remap from="odo" to="/robot/base_pose_ground_truth" />
    </node>
    <!-- start simple controller -->
    <node name="controller" pkg="simple_controller" type="controller_node" output="screen">
    	<rosparam command="load" file="$(find simple_controller)/launch/controller.yaml" ns="simple_controller" />
    	<remap from="/controller/simple_controller/ground_truth" to="/robot/base_pose_ground_truth"/>
    	<remap from="/controller/simple_controller/odom" to="/robot/odom"/>
    	<remap from="steering" to="/robot/steering"/>
    </node>
    <!-- start sending velocity command -->
    <!-- node name="vel_node" pkg="rostopic" type="rostopic" args="pub /robot/velocity std_msgs/Float32  4.0 -r10">
    </node-->
   <!-- start rqt via script -->
    <node name="rqt" pkg="simple_controller" type="start_rqt" args="--perspective-file $(find simple_controller)/cfg/steer_error.perspective" output="screen">
    </node>
    <!-- start gzclient via script -->
    <node name="gzclient" pkg="simple_controller" type="start_gzclient" output="screen">
    </node>

</launch>